/* Profile picking font family  */
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;400;600;700&display=swap');

/* MOBILE FIRST */
.profile {
	display: flex;
	width: 100vw;
	height: 100vh;
	background-color: #dde1e7;
}

.profile__window {
	display: block;
	min-width: 95%;
	margin: auto;
	margin-top: 3rem;
	font-family: 'Signika Negative', sans-serif;
	border-radius: 0.2rem;
	border: 0.1rem solid #7641c0;
	text-align: center;
}

.profile__window_title {
	background-color: #7641c0;
	color: white;
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 2rem;
}

.profile__window_question {
	padding: 1.5rem 0 0;
	color: #6c6f72;
	font-weight: 600;
	font-size: 1.12rem;
}

.profile__window_avatars {
	display: flex;
	justify-content: space-between;
	padding: 1.5rem 1rem 3rem;
}

.profile__window_avatar {
	width: 42%;
}

.woman {
	width: 45%;
}

.profile__window_colors {
	padding: 1.2rem 0 2rem 0;
	max-width: 80%;
	margin: auto;
	border-top: 0.1rem solid #6c6f72;
	justify-content: space-between;
	/* background-color: brown; */
}

.profile__window_colors_tshirt,
.profile__window_colors_skin {
	display: flex;
	padding: 1rem 2rem;
	width: auto;
}

.profile__window_skin,
.profile__window_tshirt {
	padding-right: 0.5rem;
	width: 25%;
}

.profile__window_skin_color,
.profile__window_tshirt_color {
	margin: auto;
	width: 25%;
}

.profile__window_color_btn {
	width: 35%;
	color: #dde1e7;
	text-transform: uppercase;
	font-size: 0.9rem;
	font-weight: 600;
	margin-top: 2rem;
	padding: 0.9rem;
	background-color: rgb(61, 61, 251);
	border-radius: 1.4rem;
	border: none;
	box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.323);
}
